@media screen and (max-width: 1199px) {
  table.table.responsive-table {
    display: inline-table;
  }
  h1 {
    font-size: 55px !important;
  }
  .navbar-nav .nav-link{
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .sidebar{
    position: fixed;
  }
  div#navbarNav {
    position: absolute;
    width: 96%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    top: 60px;
  }
  .nav-log-btn {
    margin-top: 10px;
  }
  .listing-inner-dsb {
    display: none;
  }
  .listing-inner-dsb-none {
    display: initial;
  }
  .bottom-btn,
  .mortgage-calc-card .blue-pilled {
    position: static;
  }
  .fees-img {
    position: static;
  }
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 28px;
  }
  p {
    font-size: 17px;
  }
  .p-lg {
    font-size: 18px;
  }
  .banner,
  .get-mortgage {
    padding: 50px 0;
  }
  .calculator-inner {
    padding: 50px 20px;
  }
  body {
    text-align: center;
  }
  .mortgage-icon {
    margin: 0 auto;
  }
  .sidebar-toggle {
    display: inline-block;
  }
  .sidebar {
    margin-left: -265px;
  }
  .main-body {
    margin-left: 0;
  }
  .sidebar.collapsed {
    margin-left: 0px;
  }
  .details .border-right {
    border-right: none;
  }
  .navbar-nav {
    background: #F3F7FF;
    position: absolute;
    z-index: 9;
    width: 95%;
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 38px !important;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  .banner,
  .get-mortgage {
    padding: 45px 0;
  }
  .calculator-inner {
    padding: 45px 20px;
  }
  .site-btn {
    display: block;
    width: 100% !important;
  }
  .body-bg {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 28px !important;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
  .p-lg {
    font-size: 16px;
  }
  .banner,
  .get-mortgage {
    padding: 35px 0;
  }
  .calculator-inner {
    padding: 35px 20px;
  }
  .navbar-nav {
    width: 92%;
  }
}
